body {
    
}

body * {

    font-family: 'Roboto Condensed', 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;

}

.accent {
    display: inline-block;
    border-width: 0px ;
    border-radius: 5px;
    border-style: solid;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 2px;
    border-color: rgb(255,255,255);
    color: rgb(0,0,0);
    width: 50px;
    height: 50px;
    background-color: White;
    margin : 2px;
    text-align: center;
    font-size: 26;
    line-height: 45px;
}

.add-remove-buttons {
    display: inline-grid;
    position: absolute;
}

.add-button, .remove-button {
    display: block;
    border-width: 0px ;
    border-radius: 3px;
    border-style: solid;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 2px;
    border-color: rgb(255,255,255);
    width: 23px;
    height: 23px;
    padding : 0px;
    margin : 2px;
    text-align: center;
    font-size: 20;
    color : rgb(0, 0, 0);
    cursor: pointer;
}

.add-button {
    background-color: rgba(0,240,0,0.8);
    top: -30px;
}

.add-button:hover {
    background-color: rgba(0,200,0,1);
}

.remove-button:disabled {
    background-color: rgba(230,0,0,0.1);
    cursor: default;
}

.remove-button:enabled {
    background-color: rgba(230,0,0,0.6);
}

.remove-button:hover:enabled {
    background-color: rgba(200,0,0,1);
}

.block {
    width : 437px;
    border-width: 0px;
    border-radius: 8px;
    border-style: solid;
    box-shadow: rgba(0,0,0,0.2) 0px 2px 3px;
    border-color: rgb(245,245,245);
    background-color:  rgb(245,245,245);
    margin: 15px auto;
}


.accents:nth-child(even) {
    background-color:  rgb(230,230,230);   
}


.accents {
    min-height: 54px;
    padding: 2px;
}
@keyframes highlight {

/*    0% {
        background-color: White;
    }
*/  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);

  }
  50% {

        background-color: #FFB0AA;    
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);

        /*background-color: #FFB0AA;   */
  }

  90% {
    transform: translate3d(0,-4px,0);
        background-color: rgb(255,255,255);   
  }

}
@keyframes highlight-no-color {

    from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        transform: translate3d(0,-4px,0);
    }

}
.highlight {
  animation-name: highlight;
  transform-origin: center bottom;
  /*animation-duration: 700ms;*/
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
.highlight-no-color {
  animation-name: highlight-no-color;
  transform-origin: center bottom;
  /*animation-duration: 700ms;*/
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
.count, .tempo {
    width : 50%;
}

button {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}

.count-info {
    border: 0;
    padding: 0;
    border-top-right-radius: 5px;
}

.count-info:enabled {
    cursor: pointer;
}

.count-info:hover:enabled {
    color: black;
}

.cross  {
    text-decoration: line-through;
}
.count * {
    /*margin: 2px;*/
    /*margin-left: 40px;*/
    width: 100%;
    margin: 0 auto;
}
.tempo * {
    /*margin: 2px;*/
    /*margin-left: 30px;*/
    width: 100%;
    margin: 0 auto;
}
.tempo-info  {
    /*margin: 2px;*/
    width: 100%;
    text-align: center;
    border-top-left-radius: 5px; 
    /*position: relative;*/
}


.count-info  {
    /*margin: 2px;*/
    width: 100%;
    text-align: center;
    /*position: relative;*/
}
.tempo-info, .count-info {

    /*width : 50px;*/
    /*height: 100px;*/

    font-size: 30;
    text-shadow : 0px 1px 4px rgb(20, 20, 20);
    color : rgb(240, 240, 240);
    font-weight: bold;
    background-color:  rgb(230,230,230);  
    /*position: absolute;*/
    /*margin-left: 10px;*/
    /*float: center;*/
}


.tempo-value *, .count-value * {
    border-width: 0px;
    text-align: center;
    /*width: 205px;*/
    /*position: absolute;*/
    width: 100%;
    margin: 0 auto;
    text-shadow : 0px 1px 5px rgb(60, 60, 60);
    color : rgb(230, 230, 230);
    font-weight: bold;
    font-size: 40;
    background-color: rgba(0,0,0,0);
    padding: 0;
    /*margin-left: 10px;*/
    /*margin-top: 15px;*/
}
.tempo-value  {
    /*width: 50%;*/
}

.count *, .tempo *{
     /*border-width: 0px;
    border-radius: 8px;
    border-style: solid;
    box-shadow: rgba(0,0,0,0.2) 0px 2px 3px;
    border-color: rgb(250,250,250);
    background-color:  rgb(250,250,250);
    width : 60px;
    height: 60px;

    font-size: 30;

    text-align: center;*/
}

.block-info > div {
    display: inline-block;
}

.glow {
    animation:glow 1s infinite alternate;
}

@keyframes glow {
    from { 
        /*box-shadow:0px 0px 30px 3px #0066cc;*/
        background-color: White; 
    }
    to { 
        /*box-shadow:0px 0px 50px 5px #0066cc;*/
        background-color: #FFB0AA; 
    }
}

body {
    background-color:  rgb(240, 240, 240);
    position: relative;
    width: 100%;
    display: block;
}

#app {
    width: 500px;
    margin: 0 auto;
    /*position: relative;*/ 
}

.metronomes {
    margin: 0 auto;
    width: 437px;
}

.control-buttons {
    margin: 0 auto;
    width: 192px;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 10px;
    z-index: 999;
    /*left: 50%;*/
}


#stop-button {
    background:url(icons/stop2.png) no-repeat; 
    background-size: 40px 40px;
    background-position: center;
    background-color: rgb(255, 255, 255);
}

#stop-button:hover:enabled {
    background:url(icons/stop-black.png) no-repeat; 
    background-size: 40px 40px;
    background-position: center;
    background-color: rgb(255, 255, 255);
}
#stop-button:disabled {
    background:url(icons/stop2.png) no-repeat; 
    background-size: 40px 40px;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.2);
}
#start-button {
    background:url(icons/play-arrow2.png) no-repeat; 
    background-size: 40px 40px;
    background-position: center;
    background-color: rgb(255, 255, 255);
}
#start-button:hover:enabled {
    background:url(icons/play-arrow-black.png) no-repeat; 
    background-size: 40px 40px;
    background-position: center;
    background-color: rgb(255, 255, 255);
}
#start-button:disabled {
    background:url(icons/play-arrow2.png) no-repeat; 
    background-size: 40px 40px;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.2);
}
#pause-button {
    background:url(icons/pause2.png) no-repeat; 
    background-size: 40px 40px;
    background-position: center;
    background-color: rgb(255, 255, 255);
}
#pause-button:hover:enabled {
    background:url(icons/pause-black.png) no-repeat; 
    background-size: 40px 40px;
    background-position: center;
    background-color: rgb(255, 255, 255);
}
#next-button {
    background:url(icons/skip-next2.png) no-repeat; 
    background-size: 40px 40px;
    background-position: center;
    background-color: rgb(255, 255, 255);
}
#next-button:hover:enabled {
    background:url(icons/skip-next-black.png) no-repeat; 
    background-size: 40px 40px;
    background-position: center;
    background-color: rgb(255, 255, 255);
}
#next-button:disabled {
    background:url(icons/skip-next2.png) no-repeat; 
    background-size: 40px 40px;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.2);
}

.control-button {

    background-size: 40px 40px;
    background-position: center;
    background-color: rgb(230, 230, 230);
}

.control-buttons button {
    width: 60px;
    height: 60px;

    border-width: 0px ;
    border-radius: 5px;
    border-style: solid;
    box-shadow: rgba(0,0,0,0.4) 0px 1px 2px;
    border-color: rgb(255,255,255);
    /*width: 23px;*/
    /*height: 23px;*/
    /*background-color : rgb(255,255,255);*/
    padding : 0px;
    margin : 2px;
    margin-bottom: 15px; 
}

.exit {
    border-width: 0px ;
    border-radius: 13px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    box-shadow: rgba(0,0,0,0.4) 0px 1px 2px;
    position: absolute;
    /*top: ;*/
    /*top: -20px;*/
    margin-top: -94px;
    margin-left: 205px;
    width: 26px;
    height: 26px;
    text-align: center;
    background-color: rgba(230,230,230); 
    /*top: 0;*/
    text-shadow : 0px 1px 4px rgb(20, 20, 20);
    color : rgb(240, 240, 240);
    cursor: pointer;
}

.exit:hover {
    background-color: rgb(240,240,240); 
    border-radius: 15px;
    width: 30px;
    height: 30px;
    margin-top: -96px;
    margin-left: 203px;
    color: Black;
    font-size: 17;
}

.add-block-button, .add-block-button-mini {
    /*padding: 0;*/
    text-align: center;
} 

.add-block-button button {
    width: 437px;
    /*margin: 15px auto;*/
    border-radius: 10px;
    border-style: dashed;
    border-width: 10px;
    background-color: rgba(240,240,240,1); 
    text-shadow : 0px 1px 4px rgb(20, 20, 20);
    font-size: 30;
    font-weight: bold;
    color: rgb(240,240,240);
    font-family: arial;
    cursor: pointer;

}

.add-block-button button:hover {
    width: 437px;
    /*margin: 20px auto;*/
    font-size: 49;
    /*background-color: rgba(230,230,230,1);*/
    /*font-size: 65;*/
    font-weight: bold;
    color: rgb(0,0,0);
    font-family: arial;
    border-color: rgba(200,200,200,1);
}

.past * {

    /*width: 1000px;*/
    /*height: 1000px;*/
    /*font-size: 232;*/
    /*background: rgba(200,200,200, 1);*/

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
    opacity: 0.75;
}

#actual:focus {
    /*border-width: 6px;*/
    /*width: 437px;*/
}

.title {
    text-align: center;
    font-size: 80;
    font-weight: bold;
    line-height: 70px;
    text-shadow : 0px 1px 4px rgb(20, 20, 20);
    font-weight: bold;
    color: rgb(250,250,250);
    
}

.info {
    margin-top: 30px;
    text-align: center;
    font-size: 30;
    font-weight: bold;
    /*line-height: 70px;*/
    text-shadow : 0px 1px 5px rgb(20, 20, 20);
    font-weight: bold;
    color : rgb(230, 230, 230);
    
}

.info p {
    margin: 0;
}

.info input {
 border-width: 0px;
    text-align: center;
    /*width: 205px;*/
    /*position: absolute;*/
    width: 100%;
    /*margin: 0 auto;*/
    margin-bottom: 20px;
    text-shadow : 0px 1px 5px rgb(60, 60, 60);
    color: rgb(250,250,250);
    font-weight: bold;
    font-size: 40;
    background-color: rgba(0,0,0,0);
    padding: 0; 

}

.footer {
    text-align: center;
    text-shadow : 0px 1px 2px rgb(20, 20, 20);
    color: rgb(250,250,250);
    font-size: 13;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    padding-top: 10px;
    border-width: 0;
    border-top-width: 2px;
    border-top-color: rgb(215,215,215);
    border-style: solid;
}

.footer a {
    color: rgb(250,250,250);
    
}